.rating {
    display: inline-block;
    font-size: 0;
}
.rating span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}
.rating > span::before {
    content: 'â¤';
}
.rating > span.active {
    color: gold;
}



header  {
    background-color: white;
    padding: 10px;
    color: black;
}

header h1 {
    text-align: center;
}

header ul  {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: end;
    list-style-type: none;
}

header ul li a  {
    display: block;
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    background-color: lightgrey;
}

header .logo {
    height: 100px;
    width: 100px;
    background: url(../img/267a96b46df2dfb7cf13203008103d94.jpg);
    background-size: cover;
}
header h1 {
    text-align: center;
    line-height: 100px;
    margin: 0;
}


section {
    display: flex;
    flex-wrap: wrap;
}
section article {
    width: 320px;
    margin: 5px;
}
section article .img {
    width: 100%;
    height: 400px;
    background: url("../img/accdc0a3-c00a-4c9b-ab42-9ffc309608f4.jfif"); 
    background-size: cover;
    background-position-x: -30px;
}
section article .ll {
    width: 100%;
    height: 400px;
    background: url("../img/7e98f9f9-948d-4648-9474-e71eec1d0e33.jfif"); 
    background-size: cover;
    background-position-x: -30px;
}
section article .ii {
    width: 100%;
    height: 400px;
    background: url("../img/a3ad8797-b6be-4b05-a37e-e135c90f379e.jfif"); 
    background-size: cover;
    background-position-x: -30px;
}
section article .oo {
    width: 100%;
    height: 400px;
    background: url("../img/6a6cf778-5365-4d8d-898e-67694d1afcca.jfif"); 
    background-size: cover;
    background-position-x: -30px;
}


.category {
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    color: white;
}
.sale { 
    background-color: crimson;
    padding: 10px;
}
.new { 
    background-color: rgb(86, 76, 219);
    padding: 10px;
}




body {
    background-color: white;
}

ul li {
    display: inline-block;
}
ul{
    background-color: black;
}
li {
    padding: 10px;
}